@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}

h1, h2, span {
  display: none;
}

@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }
  h1, h2, span {
    display: block;
  }
  body {
    background: linear-gradient(to right, #e2b8f7, #d4bafa, #c7bcfb, #b9befb, #acbff9);
    cursor: crosshair;
    perspective: 1000px;
    transform-style: preserve-3d;
    font-family: "Pacifico", cursive;
  }
  h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 120px;
    font-size: 90px;
    background: -webkit-linear-gradient(0deg, rgb(206, 173, 252) 0%, rgb(163, 187, 251) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Concert One", cursive;
    font-weight: 400;
    z-index: -1;
    letter-spacing: 6px;
  }
  span {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 70px;
    font-size: 70px;
  }
  h2 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 90px;
    background: -webkit-linear-gradient(90deg, rgb(233, 230, 255) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  bokeh {
    position: fixed;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    animation-name: explosion;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  }
  bokeh:nth-child(1) {
    background-color: #fc85e1;
    transform: translate(80.409633143vw, 2.754416195vh);
    animation-duration: 2.2015200349s;
    animation-delay: -1.1698813314s;
  }
  bokeh:nth-child(2) {
    background-color: #fc85e1;
    transform: translate(92.0642987087vw, 70.600933779vh);
    animation-duration: 4.9400832587s;
    animation-delay: -4.8629544458s;
  }
  bokeh:nth-child(3) {
    background-color: #fc85e1;
    transform: translate(0.492902177vw, 66.8401526736vh);
    animation-duration: 3.1249130819s;
    animation-delay: -3.8724060046s;
  }
  bokeh:nth-child(4) {
    background-color: #feff28;
    transform: translate(27.1283645307vw, 68.3734976235vh);
    animation-duration: 4.3452116731s;
    animation-delay: -1.5361321943s;
  }
  bokeh:nth-child(5) {
    background-color: #2bd8ff;
    transform: translate(6.7580038772vw, 20.3830304492vh);
    animation-duration: 4.8370890051s;
    animation-delay: -2.5916214346s;
  }
  bokeh:nth-child(6) {
    background-color: #feff28;
    transform: translate(2.3297312342vw, 62.9353733974vh);
    animation-duration: 4.6242183973s;
    animation-delay: -3.4858648771s;
  }
  bokeh:nth-child(7) {
    background-color: #fc85e1;
    transform: translate(31.9473245156vw, 57.1906214988vh);
    animation-duration: 3.1445402979s;
    animation-delay: -3.36655341s;
  }
  bokeh:nth-child(8) {
    background-color: #feff28;
    transform: translate(7.1244740083vw, 46.3606615848vh);
    animation-duration: 2.5146344818s;
    animation-delay: -2.324816683s;
  }
  bokeh:nth-child(9) {
    background-color: #2bd8ff;
    transform: translate(15.5668751223vw, 82.4637575519vh);
    animation-duration: 3.727035548s;
    animation-delay: -0.0859226383s;
  }
  bokeh:nth-child(10) {
    background-color: #feff28;
    transform: translate(59.1690584504vw, 70.5456061833vh);
    animation-duration: 2.2834673764s;
    animation-delay: -1.732838126s;
  }
  bokeh:nth-child(11) {
    background-color: #feff28;
    transform: translate(94.641159481vw, 70.8866380565vh);
    animation-duration: 3.4159832893s;
    animation-delay: -4.6627146823s;
  }
  bokeh:nth-child(12) {
    background-color: #ef8d22;
    transform: translate(58.5619335351vw, 96.6844851806vh);
    animation-duration: 3.7094787185s;
    animation-delay: -4.0796236473s;
  }
  bokeh:nth-child(13) {
    background-color: #feff28;
    transform: translate(75.5214321093vw, 61.5994239743vh);
    animation-duration: 3.3658438293s;
    animation-delay: -3.3373452814s;
  }
  bokeh:nth-child(14) {
    background-color: #fc85e1;
    transform: translate(61.1259336394vw, 51.4179209839vh);
    animation-duration: 4.5354752944s;
    animation-delay: -1.6049576034s;
  }
  bokeh:nth-child(15) {
    background-color: #ef8d22;
    transform: translate(15.9324550278vw, 54.4677438165vh);
    animation-duration: 2.9226948951s;
    animation-delay: -0.4746996556s;
  }
  bokeh:nth-child(16) {
    background-color: #2bd8ff;
    transform: translate(80.1794623726vw, 33.1388604157vh);
    animation-duration: 4.3499034584s;
    animation-delay: -3.8667335214s;
  }
  bokeh:nth-child(17) {
    background-color: #2bd8ff;
    transform: translate(65.6655007258vw, 5.7772421268vh);
    animation-duration: 3.0703333582s;
    animation-delay: -3.2432049224s;
  }
  bokeh:nth-child(18) {
    background-color: #fc85e1;
    transform: translate(99.5759317305vw, 22.0654817158vh);
    animation-duration: 2.5116779169s;
    animation-delay: -0.3658801351s;
  }
  bokeh:nth-child(19) {
    background-color: #fc85e1;
    transform: translate(5.6270280358vw, 87.9275470362vh);
    animation-duration: 3.3897124295s;
    animation-delay: -2.7914256449s;
  }
  bokeh:nth-child(20) {
    background-color: #feff28;
    transform: translate(48.4952465406vw, 98.5727525215vh);
    animation-duration: 4.5578819582s;
    animation-delay: -3.9053367868s;
  }
  bokeh:nth-child(21) {
    background-color: #ef8d22;
    transform: translate(74.4174950434vw, 88.4601876706vh);
    animation-duration: 2.3164871744s;
    animation-delay: -0.740230597s;
  }
  bokeh:nth-child(22) {
    background-color: #2bd8ff;
    transform: translate(81.0896291559vw, 23.0769811481vh);
    animation-duration: 4.663728628s;
    animation-delay: -1.5211138635s;
  }
  bokeh:nth-child(23) {
    background-color: #fc85e1;
    transform: translate(43.2753895388vw, 77.0154156719vh);
    animation-duration: 4.7411808698s;
    animation-delay: -0.2431941794s;
  }
  bokeh:nth-child(24) {
    background-color: #ef8d22;
    transform: translate(87.018933134vw, 99.5017892881vh);
    animation-duration: 2.084519322s;
    animation-delay: -2.3793450006s;
  }
  bokeh:nth-child(25) {
    background-color: #feff28;
    transform: translate(78.51604709vw, 45.0779793243vh);
    animation-duration: 2.7763779054s;
    animation-delay: -2.6622770573s;
  }
  bokeh:nth-child(26) {
    background-color: #feff28;
    transform: translate(35.7070775085vw, 64.5724253701vh);
    animation-duration: 4.2783585437s;
    animation-delay: -0.1078029783s;
  }
  bokeh:nth-child(27) {
    background-color: #feff28;
    transform: translate(68.0400468676vw, 65.708844999vh);
    animation-duration: 2.3342638588s;
    animation-delay: -3.05555112s;
  }
  bokeh:nth-child(28) {
    background-color: #ef8d22;
    transform: translate(7.9063842655vw, 88.4672493983vh);
    animation-duration: 2.4646347117s;
    animation-delay: -3.7065616066s;
  }
  bokeh:nth-child(29) {
    background-color: #feff28;
    transform: translate(39.7802591673vw, 31.0849473049vh);
    animation-duration: 3.8915183104s;
    animation-delay: -3.293662235s;
  }
  bokeh:nth-child(30) {
    background-color: #fc85e1;
    transform: translate(83.5334087098vw, 55.4781151033vh);
    animation-duration: 2.5742450061s;
    animation-delay: -1.9417893058s;
  }
  bokeh:nth-child(31) {
    background-color: #ef8d22;
    transform: translate(28.7789246385vw, 75.0409091023vh);
    animation-duration: 2.2386038125s;
    animation-delay: -3.78874605s;
  }
  bokeh:nth-child(32) {
    background-color: #ef8d22;
    transform: translate(54.7408942974vw, 33.2466103132vh);
    animation-duration: 3.7133580302s;
    animation-delay: -0.7315897252s;
  }
  bokeh:nth-child(33) {
    background-color: #ef8d22;
    transform: translate(23.7256280589vw, 70.2184516329vh);
    animation-duration: 3.9817913115s;
    animation-delay: -0.8098734628s;
  }
  bokeh:nth-child(34) {
    background-color: #feff28;
    transform: translate(44.6641762051vw, 62.1322953675vh);
    animation-duration: 4.0313789547s;
    animation-delay: -1.7403962726s;
  }
  bokeh:nth-child(35) {
    background-color: #2bd8ff;
    transform: translate(11.3161647212vw, 5.8268859605vh);
    animation-duration: 4.0458340894s;
    animation-delay: -4.3558904517s;
  }
  bokeh:nth-child(36) {
    background-color: #ef8d22;
    transform: translate(45.4027366642vw, 81.2404594476vh);
    animation-duration: 2.6119365319s;
    animation-delay: -2.3205841115s;
  }
  bokeh:nth-child(37) {
    background-color: #2bd8ff;
    transform: translate(51.4174894437vw, 66.4410540214vh);
    animation-duration: 3.1819630751s;
    animation-delay: -0.7575928606s;
  }
  bokeh:nth-child(38) {
    background-color: #fc85e1;
    transform: translate(39.4405420439vw, 35.9942896349vh);
    animation-duration: 2.9390687024s;
    animation-delay: -0.3936666812s;
  }
  bokeh:nth-child(39) {
    background-color: #2bd8ff;
    transform: translate(83.9616377146vw, 7.590953679vh);
    animation-duration: 3.0700338913s;
    animation-delay: -0.1732458197s;
  }
  bokeh:nth-child(40) {
    background-color: #fc85e1;
    transform: translate(55.2611754194vw, 39.9667165579vh);
    animation-duration: 4.8916534603s;
    animation-delay: -3.2286162439s;
  }
  bokeh:nth-child(41) {
    background-color: #ef8d22;
    transform: translate(86.3255532466vw, 68.8816244022vh);
    animation-duration: 2.6719685802s;
    animation-delay: -3.3817286141s;
  }
  bokeh:nth-child(42) {
    background-color: #feff28;
    transform: translate(73.6665404932vw, 85.7240925586vh);
    animation-duration: 3.6544437112s;
    animation-delay: -2.9372380679s;
  }
  bokeh:nth-child(43) {
    background-color: #feff28;
    transform: translate(72.3242984666vw, 57.0552997936vh);
    animation-duration: 4.7655483794s;
    animation-delay: -3.288681995s;
  }
  bokeh:nth-child(44) {
    background-color: #ef8d22;
    transform: translate(51.0689614364vw, 38.54346153vh);
    animation-duration: 3.809460215s;
    animation-delay: -4.9398869374s;
  }
  bokeh:nth-child(45) {
    background-color: #fc85e1;
    transform: translate(49.055606053vw, 11.921710233vh);
    animation-duration: 4.988718847s;
    animation-delay: -3.0832347188s;
  }
  bokeh:nth-child(46) {
    background-color: #fc85e1;
    transform: translate(16.8163936231vw, 6.4082004238vh);
    animation-duration: 2.7385662856s;
    animation-delay: -3.2475951527s;
  }
  bokeh:nth-child(47) {
    background-color: #fc85e1;
    transform: translate(64.6918852534vw, 40.8797035904vh);
    animation-duration: 4.4075676207s;
    animation-delay: -2.7365363617s;
  }
  bokeh:nth-child(48) {
    background-color: #ef8d22;
    transform: translate(82.3010700723vw, 91.7369726083vh);
    animation-duration: 2.8072406601s;
    animation-delay: -4.9234928614s;
  }
  bokeh:nth-child(49) {
    background-color: #feff28;
    transform: translate(52.9881404557vw, 23.1429691677vh);
    animation-duration: 3.2524567262s;
    animation-delay: -2.7481519371s;
  }
  bokeh:nth-child(50) {
    background-color: #fc85e1;
    transform: translate(92.5972466944vw, 19.3355228931vh);
    animation-duration: 2.3115710414s;
    animation-delay: -0.0608635902s;
  }
  bokeh:nth-child(51) {
    background-color: #2bd8ff;
    transform: translate(33.600201003vw, 77.5174869181vh);
    animation-duration: 3.7163033513s;
    animation-delay: -0.4185678098s;
  }
  bokeh:nth-child(52) {
    background-color: #fc85e1;
    transform: translate(4.4416627638vw, 67.4773028758vh);
    animation-duration: 3.0386832942s;
    animation-delay: -3.7132843072s;
  }
  bokeh:nth-child(53) {
    background-color: #fc85e1;
    transform: translate(38.5296330337vw, 73.7589128844vh);
    animation-duration: 4.2765835918s;
    animation-delay: -2.924342107s;
  }
  bokeh:nth-child(54) {
    background-color: #feff28;
    transform: translate(89.7680139464vw, 38.793301357vh);
    animation-duration: 3.7932756388s;
    animation-delay: -0.1061183195s;
  }
  bokeh:nth-child(55) {
    background-color: #ef8d22;
    transform: translate(0.0134168898vw, 99.8214346951vh);
    animation-duration: 4.7518978417s;
    animation-delay: -0.609893823s;
  }
  bokeh:nth-child(56) {
    background-color: #feff28;
    transform: translate(29.7242416946vw, 56.2521527464vh);
    animation-duration: 4.5162689834s;
    animation-delay: -4.5570282263s;
  }
  bokeh:nth-child(57) {
    background-color: #feff28;
    transform: translate(57.8650893141vw, 7.5573191149vh);
    animation-duration: 3.4869698197s;
    animation-delay: -3.1368898161s;
  }
  bokeh:nth-child(58) {
    background-color: #fc85e1;
    transform: translate(21.2113312434vw, 77.3593446424vh);
    animation-duration: 2.5836471639s;
    animation-delay: -1.7771134834s;
  }
  bokeh:nth-child(59) {
    background-color: #2bd8ff;
    transform: translate(94.5093781395vw, 60.8956567923vh);
    animation-duration: 2.8457402469s;
    animation-delay: -1.072916922s;
  }
  bokeh:nth-child(60) {
    background-color: #ef8d22;
    transform: translate(31.6236431196vw, 53.1823395623vh);
    animation-duration: 4.917411253s;
    animation-delay: -1.1134590437s;
  }
  bokeh:nth-child(61) {
    background-color: #ef8d22;
    transform: translate(70.5824287161vw, 81.0558492043vh);
    animation-duration: 3.8757910213s;
    animation-delay: -2.8846460491s;
  }
  bokeh:nth-child(62) {
    background-color: #fc85e1;
    transform: translate(13.8067142511vw, 78.1423945834vh);
    animation-duration: 4.1134520905s;
    animation-delay: -4.6035555561s;
  }
  bokeh:nth-child(63) {
    background-color: #ef8d22;
    transform: translate(58.2967203399vw, 46.7403513321vh);
    animation-duration: 4.6701823491s;
    animation-delay: -1.911318278s;
  }
  bokeh:nth-child(64) {
    background-color: #2bd8ff;
    transform: translate(46.6840868103vw, 72.249345031vh);
    animation-duration: 3.8844086301s;
    animation-delay: -1.28439805s;
  }
  bokeh:nth-child(65) {
    background-color: #fc85e1;
    transform: translate(87.8791198673vw, 63.6382413203vh);
    animation-duration: 4.423694688s;
    animation-delay: -0.6891467037s;
  }
  bokeh:nth-child(66) {
    background-color: #2bd8ff;
    transform: translate(44.4514013117vw, 54.5779379281vh);
    animation-duration: 4.6488030298s;
    animation-delay: -0.2050950454s;
  }
  bokeh:nth-child(67) {
    background-color: #fc85e1;
    transform: translate(33.8067942904vw, 10.1355851315vh);
    animation-duration: 3.1203376291s;
    animation-delay: -2.045340051s;
  }
  bokeh:nth-child(68) {
    background-color: #fc85e1;
    transform: translate(66.5008663421vw, 43.0844450129vh);
    animation-duration: 2.3846069192s;
    animation-delay: -2.927153621s;
  }
  bokeh:nth-child(69) {
    background-color: #ef8d22;
    transform: translate(0.4750762212vw, 19.6471340017vh);
    animation-duration: 3.7534357256s;
    animation-delay: -3.2796120644s;
  }
  bokeh:nth-child(70) {
    background-color: #feff28;
    transform: translate(82.8969841795vw, 25.6838414801vh);
    animation-duration: 3.5603214737s;
    animation-delay: -2.6260502696s;
  }
  bokeh:nth-child(71) {
    background-color: #ef8d22;
    transform: translate(90.829466484vw, 36.1794901658vh);
    animation-duration: 2.9433807944s;
    animation-delay: -0.0590163821s;
  }
  bokeh:nth-child(72) {
    background-color: #fc85e1;
    transform: translate(26.8019393344vw, 48.2385157988vh);
    animation-duration: 3.9057851842s;
    animation-delay: -2.9630102553s;
  }
  bokeh:nth-child(73) {
    background-color: #ef8d22;
    transform: translate(54.8196520658vw, 15.7772355614vh);
    animation-duration: 2.2516758535s;
    animation-delay: -2.1017458069s;
  }
  bokeh:nth-child(74) {
    background-color: #fc85e1;
    transform: translate(17.6982435516vw, 60.8043581282vh);
    animation-duration: 2.4912164049s;
    animation-delay: -0.0655750583s;
  }
  bokeh:nth-child(75) {
    background-color: #fc85e1;
    transform: translate(97.7580707054vw, 67.4359745268vh);
    animation-duration: 3.608899429s;
    animation-delay: -0.9643584968s;
  }
  bokeh:nth-child(76) {
    background-color: #2bd8ff;
    transform: translate(2.4689672511vw, 70.3719507464vh);
    animation-duration: 2.3164815886s;
    animation-delay: -0.5810717933s;
  }
  bokeh:nth-child(77) {
    background-color: #2bd8ff;
    transform: translate(90.1907721354vw, 36.99635409vh);
    animation-duration: 4.2351888515s;
    animation-delay: -0.6937633537s;
  }
  bokeh:nth-child(78) {
    background-color: #ef8d22;
    transform: translate(6.5712950317vw, 54.8535064279vh);
    animation-duration: 2.9678854246s;
    animation-delay: -4.3958051501s;
  }
  bokeh:nth-child(79) {
    background-color: #fc85e1;
    transform: translate(76.5913887283vw, 10.8310475431vh);
    animation-duration: 3.9248474183s;
    animation-delay: -1.772741613s;
  }
  bokeh:nth-child(80) {
    background-color: #2bd8ff;
    transform: translate(28.0557393358vw, 38.2856084366vh);
    animation-duration: 4.3502956369s;
    animation-delay: -0.9402761484s;
  }
  bokeh:nth-child(81) {
    background-color: #ef8d22;
    transform: translate(17.756600877vw, 65.3940885016vh);
    animation-duration: 2.3595066956s;
    animation-delay: -2.0996045012s;
  }
  bokeh:nth-child(82) {
    background-color: #feff28;
    transform: translate(89.4022300555vw, 19.3769537684vh);
    animation-duration: 3.3799411743s;
    animation-delay: -4.9284164423s;
  }
  bokeh:nth-child(83) {
    background-color: #2bd8ff;
    transform: translate(72.7225637218vw, 70.4608264524vh);
    animation-duration: 3.2617516749s;
    animation-delay: -0.582486843s;
  }
  bokeh:nth-child(84) {
    background-color: #feff28;
    transform: translate(19.0727907369vw, 38.5014552009vh);
    animation-duration: 4.350691058s;
    animation-delay: -3.9904632566s;
  }
  bokeh:nth-child(85) {
    background-color: #fc85e1;
    transform: translate(21.4051965734vw, 91.0761837593vh);
    animation-duration: 2.3065467259s;
    animation-delay: -1.1784164965s;
  }
  bokeh:nth-child(86) {
    background-color: #2bd8ff;
    transform: translate(29.8272564709vw, 74.3535694144vh);
    animation-duration: 3.4460505974s;
    animation-delay: -1.155249472s;
  }
  bokeh:nth-child(87) {
    background-color: #fc85e1;
    transform: translate(28.6759141665vw, 67.9572598692vh);
    animation-duration: 3.0069748259s;
    animation-delay: -3.6475689775s;
  }
  bokeh:nth-child(88) {
    background-color: #ef8d22;
    transform: translate(44.0403171612vw, 17.0522028542vh);
    animation-duration: 4.460982395s;
    animation-delay: -3.8142479838s;
  }
  bokeh:nth-child(89) {
    background-color: #feff28;
    transform: translate(18.0216666646vw, 91.32847343vh);
    animation-duration: 4.6484901243s;
    animation-delay: -3.487758472s;
  }
  bokeh:nth-child(90) {
    background-color: #ef8d22;
    transform: translate(44.3280616474vw, 8.6057587577vh);
    animation-duration: 4.5808482402s;
    animation-delay: -3.0062671468s;
  }
  bokeh:nth-child(91) {
    background-color: #ef8d22;
    transform: translate(88.1524485826vw, 83.5877916877vh);
    animation-duration: 3.2494398204s;
    animation-delay: -4.1501600009s;
  }
  bokeh:nth-child(92) {
    background-color: #fc85e1;
    transform: translate(37.0998401911vw, 89.5926626219vh);
    animation-duration: 4.058770327s;
    animation-delay: -2.4404884643s;
  }
  bokeh:nth-child(93) {
    background-color: #feff28;
    transform: translate(60.5953226342vw, 81.8927056647vh);
    animation-duration: 4.4488016138s;
    animation-delay: -1.3020546827s;
  }
  bokeh:nth-child(94) {
    background-color: #2bd8ff;
    transform: translate(67.3577114222vw, 18.0442818202vh);
    animation-duration: 2.1481064171s;
    animation-delay: -0.2601267019s;
  }
  bokeh:nth-child(95) {
    background-color: #ef8d22;
    transform: translate(92.3594757604vw, 83.2323552477vh);
    animation-duration: 4.7068066144s;
    animation-delay: -1.2930199175s;
  }
  bokeh:nth-child(96) {
    background-color: #fc85e1;
    transform: translate(58.7002679378vw, 53.4443139181vh);
    animation-duration: 3.0406796723s;
    animation-delay: -1.5654620533s;
  }
  bokeh:nth-child(97) {
    background-color: #fc85e1;
    transform: translate(35.0328272696vw, 61.0992679005vh);
    animation-duration: 4.7670705903s;
    animation-delay: -4.0580408268s;
  }
  bokeh:nth-child(98) {
    background-color: #fc85e1;
    transform: translate(90.7052429699vw, 29.4394764533vh);
    animation-duration: 3.4236145682s;
    animation-delay: -3.3137933061s;
  }
  bokeh:nth-child(99) {
    background-color: #feff28;
    transform: translate(27.7969278553vw, 16.2280685752vh);
    animation-duration: 4.7514877977s;
    animation-delay: -4.7330315064s;
  }
  bokeh:nth-child(100) {
    background-color: #ef8d22;
    transform: translate(73.8094610851vw, 95.5413401112vh);
    animation-duration: 3.3670415535s;
    animation-delay: -0.7467317328s;
  }
  @keyframes explosion {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translate(50vw, 100vh);
    }
  }
  .cake {
    position: relative;
    top: 250px;
    margin: auto;
    width: 200px;
    height: 60px;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateZ(100px);
    box-shadow: 0px 4px 0px #f4f9fd, 0px 8px 0px #dba9ff, 0px 12px 0px #fec3b3, 0px 16px 0px #f7f6fb, 0px 20px 0px #f7f6fb, 0px 24px 0px #f7f6fb, 0px 28px 0px #f7f6fb, 0px 32px 0px #fea0bb, 0px 36px 0px #fea0bb, 0px 40px 0px #9cef9d, 0px 44px 0px #9cef9d, 0px 48px 0px #f7f6fb, 0px 52px 0px #f7f6fb, 0px 56px 0px #f7f6fb, 0px 60px 0px #f7f6fb, 0px 64px 0px #f7f6fb, 0px 68px 0px #dfa5fc, 0px 72px 0px #dfa5fc, 0px 76px 0px #fafffe, 0px 80px 0px #fafffe;
  }
  .plate {
    position: absolute;
    height: 90px;
    width: 300px;
    bottom: -95px;
    left: 50%;
    top: 380px;
    margin-left: -150px;
    border-radius: 100%;
    background: radial-gradient(ellipse closest-side at center, rgb(8, 199, 254) 0%, rgb(4, 215, 242) 71%, rgb(2, 255, 208) 100%);
    box-shadow: 0px 3px 0px #00e2e1, 0px 6px 0px #00d3fb;
    transform: translateZ(80px);
  }
  .candle {
    position: relative;
    height: 50px;
    width: 12px;
    top: 280px;
    margin: auto;
    background: linear-gradient(0deg, rgb(183, 244, 167) 0%, rgb(255, 255, 255) 100%);
    border-radius: 4px;
    transform: translateZ(120px);
  }
  #flame {
    position: absolute;
    z-index: 10;
  }
  .lit {
    background: linear-gradient(to bottom, #FFF6D9, #FBC36C);
    width: 15px;
    height: 35px;
    /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    /*   http://www.css3.info/preview/box-shadow/ */
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }
  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
  .pyro > .before, .pyro > .after {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  @-webkit-keyframes bang {
    to {
      box-shadow: 106px -57.6666666667px hsl(253deg, 100%, 50%), 11px -36.6666666667px hsl(286deg, 100%, 50%), 197px -305.6666666667px hsl(118deg, 100%, 50%), 54px -25.6666666667px hsl(280deg, 100%, 50%), -240px -38.6666666667px hsl(167deg, 100%, 50%), 106px -69.6666666667px hsl(184deg, 100%, 50%), -126px -54.6666666667px hsl(23deg, 100%, 50%), 61px -279.6666666667px hsl(350deg, 100%, 50%), -168px -43.6666666667px hsl(17deg, 100%, 50%), 131px -73.6666666667px hsl(163deg, 100%, 50%), -6px -54.6666666667px hsl(295deg, 100%, 50%), -216px -80.6666666667px hsl(190deg, 100%, 50%), 156px -164.6666666667px hsl(297deg, 100%, 50%), 104px -309.6666666667px hsl(16deg, 100%, 50%), -220px -351.6666666667px hsl(35deg, 100%, 50%), -118px -9.6666666667px hsl(11deg, 100%, 50%), -191px -217.6666666667px hsl(149deg, 100%, 50%), 221px 66.3333333333px hsl(253deg, 100%, 50%), 5px -360.6666666667px hsl(39deg, 100%, 50%), 124px 29.3333333333px hsl(216deg, 100%, 50%), -143px 4.3333333333px hsl(349deg, 100%, 50%), 121px -85.6666666667px hsl(112deg, 100%, 50%), 74px -157.6666666667px hsl(178deg, 100%, 50%), -211px -57.6666666667px hsl(76deg, 100%, 50%), 31px 55.3333333333px hsl(89deg, 100%, 50%), -55px -144.6666666667px hsl(119deg, 100%, 50%), 238px -375.6666666667px hsl(152deg, 100%, 50%), 193px -50.6666666667px hsl(324deg, 100%, 50%), 24px -72.6666666667px hsl(35deg, 100%, 50%), -164px -45.6666666667px hsl(321deg, 100%, 50%), 3px -392.6666666667px hsl(10deg, 100%, 50%), 157px -68.6666666667px hsl(188deg, 100%, 50%), 146px -141.6666666667px hsl(298deg, 100%, 50%), -8px -85.6666666667px hsl(267deg, 100%, 50%), 86px -217.6666666667px hsl(137deg, 100%, 50%), 80px 45.3333333333px hsl(12deg, 100%, 50%), -74px -121.6666666667px hsl(320deg, 100%, 50%), 213px -129.6666666667px hsl(286deg, 100%, 50%), 182px -41.6666666667px hsl(61deg, 100%, 50%), 116px -339.6666666667px hsl(21deg, 100%, 50%), 170px -71.6666666667px hsl(92deg, 100%, 50%), 35px -308.6666666667px hsl(109deg, 100%, 50%), -167px -158.6666666667px hsl(3deg, 100%, 50%), -117px -334.6666666667px hsl(327deg, 100%, 50%), -239px -11.6666666667px hsl(239deg, 100%, 50%), 182px -236.6666666667px hsl(102deg, 100%, 50%), -41px -54.6666666667px hsl(277deg, 100%, 50%), 134px -366.6666666667px hsl(274deg, 100%, 50%), -81px 51.3333333333px hsl(329deg, 100%, 50%), 109px -409.6666666667px hsl(314deg, 100%, 50%), -75px -48.6666666667px hsl(66deg, 100%, 50%);
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 106px -57.6666666667px hsl(253deg, 100%, 50%), 11px -36.6666666667px hsl(286deg, 100%, 50%), 197px -305.6666666667px hsl(118deg, 100%, 50%), 54px -25.6666666667px hsl(280deg, 100%, 50%), -240px -38.6666666667px hsl(167deg, 100%, 50%), 106px -69.6666666667px hsl(184deg, 100%, 50%), -126px -54.6666666667px hsl(23deg, 100%, 50%), 61px -279.6666666667px hsl(350deg, 100%, 50%), -168px -43.6666666667px hsl(17deg, 100%, 50%), 131px -73.6666666667px hsl(163deg, 100%, 50%), -6px -54.6666666667px hsl(295deg, 100%, 50%), -216px -80.6666666667px hsl(190deg, 100%, 50%), 156px -164.6666666667px hsl(297deg, 100%, 50%), 104px -309.6666666667px hsl(16deg, 100%, 50%), -220px -351.6666666667px hsl(35deg, 100%, 50%), -118px -9.6666666667px hsl(11deg, 100%, 50%), -191px -217.6666666667px hsl(149deg, 100%, 50%), 221px 66.3333333333px hsl(253deg, 100%, 50%), 5px -360.6666666667px hsl(39deg, 100%, 50%), 124px 29.3333333333px hsl(216deg, 100%, 50%), -143px 4.3333333333px hsl(349deg, 100%, 50%), 121px -85.6666666667px hsl(112deg, 100%, 50%), 74px -157.6666666667px hsl(178deg, 100%, 50%), -211px -57.6666666667px hsl(76deg, 100%, 50%), 31px 55.3333333333px hsl(89deg, 100%, 50%), -55px -144.6666666667px hsl(119deg, 100%, 50%), 238px -375.6666666667px hsl(152deg, 100%, 50%), 193px -50.6666666667px hsl(324deg, 100%, 50%), 24px -72.6666666667px hsl(35deg, 100%, 50%), -164px -45.6666666667px hsl(321deg, 100%, 50%), 3px -392.6666666667px hsl(10deg, 100%, 50%), 157px -68.6666666667px hsl(188deg, 100%, 50%), 146px -141.6666666667px hsl(298deg, 100%, 50%), -8px -85.6666666667px hsl(267deg, 100%, 50%), 86px -217.6666666667px hsl(137deg, 100%, 50%), 80px 45.3333333333px hsl(12deg, 100%, 50%), -74px -121.6666666667px hsl(320deg, 100%, 50%), 213px -129.6666666667px hsl(286deg, 100%, 50%), 182px -41.6666666667px hsl(61deg, 100%, 50%), 116px -339.6666666667px hsl(21deg, 100%, 50%), 170px -71.6666666667px hsl(92deg, 100%, 50%), 35px -308.6666666667px hsl(109deg, 100%, 50%), -167px -158.6666666667px hsl(3deg, 100%, 50%), -117px -334.6666666667px hsl(327deg, 100%, 50%), -239px -11.6666666667px hsl(239deg, 100%, 50%), 182px -236.6666666667px hsl(102deg, 100%, 50%), -41px -54.6666666667px hsl(277deg, 100%, 50%), 134px -366.6666666667px hsl(274deg, 100%, 50%), -81px 51.3333333333px hsl(329deg, 100%, 50%), 109px -409.6666666667px hsl(314deg, 100%, 50%), -75px -48.6666666667px hsl(66deg, 100%, 50%);
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 106px -57.6666666667px hsl(253deg, 100%, 50%), 11px -36.6666666667px hsl(286deg, 100%, 50%), 197px -305.6666666667px hsl(118deg, 100%, 50%), 54px -25.6666666667px hsl(280deg, 100%, 50%), -240px -38.6666666667px hsl(167deg, 100%, 50%), 106px -69.6666666667px hsl(184deg, 100%, 50%), -126px -54.6666666667px hsl(23deg, 100%, 50%), 61px -279.6666666667px hsl(350deg, 100%, 50%), -168px -43.6666666667px hsl(17deg, 100%, 50%), 131px -73.6666666667px hsl(163deg, 100%, 50%), -6px -54.6666666667px hsl(295deg, 100%, 50%), -216px -80.6666666667px hsl(190deg, 100%, 50%), 156px -164.6666666667px hsl(297deg, 100%, 50%), 104px -309.6666666667px hsl(16deg, 100%, 50%), -220px -351.6666666667px hsl(35deg, 100%, 50%), -118px -9.6666666667px hsl(11deg, 100%, 50%), -191px -217.6666666667px hsl(149deg, 100%, 50%), 221px 66.3333333333px hsl(253deg, 100%, 50%), 5px -360.6666666667px hsl(39deg, 100%, 50%), 124px 29.3333333333px hsl(216deg, 100%, 50%), -143px 4.3333333333px hsl(349deg, 100%, 50%), 121px -85.6666666667px hsl(112deg, 100%, 50%), 74px -157.6666666667px hsl(178deg, 100%, 50%), -211px -57.6666666667px hsl(76deg, 100%, 50%), 31px 55.3333333333px hsl(89deg, 100%, 50%), -55px -144.6666666667px hsl(119deg, 100%, 50%), 238px -375.6666666667px hsl(152deg, 100%, 50%), 193px -50.6666666667px hsl(324deg, 100%, 50%), 24px -72.6666666667px hsl(35deg, 100%, 50%), -164px -45.6666666667px hsl(321deg, 100%, 50%), 3px -392.6666666667px hsl(10deg, 100%, 50%), 157px -68.6666666667px hsl(188deg, 100%, 50%), 146px -141.6666666667px hsl(298deg, 100%, 50%), -8px -85.6666666667px hsl(267deg, 100%, 50%), 86px -217.6666666667px hsl(137deg, 100%, 50%), 80px 45.3333333333px hsl(12deg, 100%, 50%), -74px -121.6666666667px hsl(320deg, 100%, 50%), 213px -129.6666666667px hsl(286deg, 100%, 50%), 182px -41.6666666667px hsl(61deg, 100%, 50%), 116px -339.6666666667px hsl(21deg, 100%, 50%), 170px -71.6666666667px hsl(92deg, 100%, 50%), 35px -308.6666666667px hsl(109deg, 100%, 50%), -167px -158.6666666667px hsl(3deg, 100%, 50%), -117px -334.6666666667px hsl(327deg, 100%, 50%), -239px -11.6666666667px hsl(239deg, 100%, 50%), 182px -236.6666666667px hsl(102deg, 100%, 50%), -41px -54.6666666667px hsl(277deg, 100%, 50%), 134px -366.6666666667px hsl(274deg, 100%, 50%), -81px 51.3333333333px hsl(329deg, 100%, 50%), 109px -409.6666666667px hsl(314deg, 100%, 50%), -75px -48.6666666667px hsl(66deg, 100%, 50%);
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 106px -57.6666666667px hsl(253deg, 100%, 50%), 11px -36.6666666667px hsl(286deg, 100%, 50%), 197px -305.6666666667px hsl(118deg, 100%, 50%), 54px -25.6666666667px hsl(280deg, 100%, 50%), -240px -38.6666666667px hsl(167deg, 100%, 50%), 106px -69.6666666667px hsl(184deg, 100%, 50%), -126px -54.6666666667px hsl(23deg, 100%, 50%), 61px -279.6666666667px hsl(350deg, 100%, 50%), -168px -43.6666666667px hsl(17deg, 100%, 50%), 131px -73.6666666667px hsl(163deg, 100%, 50%), -6px -54.6666666667px hsl(295deg, 100%, 50%), -216px -80.6666666667px hsl(190deg, 100%, 50%), 156px -164.6666666667px hsl(297deg, 100%, 50%), 104px -309.6666666667px hsl(16deg, 100%, 50%), -220px -351.6666666667px hsl(35deg, 100%, 50%), -118px -9.6666666667px hsl(11deg, 100%, 50%), -191px -217.6666666667px hsl(149deg, 100%, 50%), 221px 66.3333333333px hsl(253deg, 100%, 50%), 5px -360.6666666667px hsl(39deg, 100%, 50%), 124px 29.3333333333px hsl(216deg, 100%, 50%), -143px 4.3333333333px hsl(349deg, 100%, 50%), 121px -85.6666666667px hsl(112deg, 100%, 50%), 74px -157.6666666667px hsl(178deg, 100%, 50%), -211px -57.6666666667px hsl(76deg, 100%, 50%), 31px 55.3333333333px hsl(89deg, 100%, 50%), -55px -144.6666666667px hsl(119deg, 100%, 50%), 238px -375.6666666667px hsl(152deg, 100%, 50%), 193px -50.6666666667px hsl(324deg, 100%, 50%), 24px -72.6666666667px hsl(35deg, 100%, 50%), -164px -45.6666666667px hsl(321deg, 100%, 50%), 3px -392.6666666667px hsl(10deg, 100%, 50%), 157px -68.6666666667px hsl(188deg, 100%, 50%), 146px -141.6666666667px hsl(298deg, 100%, 50%), -8px -85.6666666667px hsl(267deg, 100%, 50%), 86px -217.6666666667px hsl(137deg, 100%, 50%), 80px 45.3333333333px hsl(12deg, 100%, 50%), -74px -121.6666666667px hsl(320deg, 100%, 50%), 213px -129.6666666667px hsl(286deg, 100%, 50%), 182px -41.6666666667px hsl(61deg, 100%, 50%), 116px -339.6666666667px hsl(21deg, 100%, 50%), 170px -71.6666666667px hsl(92deg, 100%, 50%), 35px -308.6666666667px hsl(109deg, 100%, 50%), -167px -158.6666666667px hsl(3deg, 100%, 50%), -117px -334.6666666667px hsl(327deg, 100%, 50%), -239px -11.6666666667px hsl(239deg, 100%, 50%), 182px -236.6666666667px hsl(102deg, 100%, 50%), -41px -54.6666666667px hsl(277deg, 100%, 50%), 134px -366.6666666667px hsl(274deg, 100%, 50%), -81px 51.3333333333px hsl(329deg, 100%, 50%), 109px -409.6666666667px hsl(314deg, 100%, 50%), -75px -48.6666666667px hsl(66deg, 100%, 50%);
    }
  }
  @keyframes bang {
    to {
      box-shadow: 106px -57.6666666667px hsl(253deg, 100%, 50%), 11px -36.6666666667px hsl(286deg, 100%, 50%), 197px -305.6666666667px hsl(118deg, 100%, 50%), 54px -25.6666666667px hsl(280deg, 100%, 50%), -240px -38.6666666667px hsl(167deg, 100%, 50%), 106px -69.6666666667px hsl(184deg, 100%, 50%), -126px -54.6666666667px hsl(23deg, 100%, 50%), 61px -279.6666666667px hsl(350deg, 100%, 50%), -168px -43.6666666667px hsl(17deg, 100%, 50%), 131px -73.6666666667px hsl(163deg, 100%, 50%), -6px -54.6666666667px hsl(295deg, 100%, 50%), -216px -80.6666666667px hsl(190deg, 100%, 50%), 156px -164.6666666667px hsl(297deg, 100%, 50%), 104px -309.6666666667px hsl(16deg, 100%, 50%), -220px -351.6666666667px hsl(35deg, 100%, 50%), -118px -9.6666666667px hsl(11deg, 100%, 50%), -191px -217.6666666667px hsl(149deg, 100%, 50%), 221px 66.3333333333px hsl(253deg, 100%, 50%), 5px -360.6666666667px hsl(39deg, 100%, 50%), 124px 29.3333333333px hsl(216deg, 100%, 50%), -143px 4.3333333333px hsl(349deg, 100%, 50%), 121px -85.6666666667px hsl(112deg, 100%, 50%), 74px -157.6666666667px hsl(178deg, 100%, 50%), -211px -57.6666666667px hsl(76deg, 100%, 50%), 31px 55.3333333333px hsl(89deg, 100%, 50%), -55px -144.6666666667px hsl(119deg, 100%, 50%), 238px -375.6666666667px hsl(152deg, 100%, 50%), 193px -50.6666666667px hsl(324deg, 100%, 50%), 24px -72.6666666667px hsl(35deg, 100%, 50%), -164px -45.6666666667px hsl(321deg, 100%, 50%), 3px -392.6666666667px hsl(10deg, 100%, 50%), 157px -68.6666666667px hsl(188deg, 100%, 50%), 146px -141.6666666667px hsl(298deg, 100%, 50%), -8px -85.6666666667px hsl(267deg, 100%, 50%), 86px -217.6666666667px hsl(137deg, 100%, 50%), 80px 45.3333333333px hsl(12deg, 100%, 50%), -74px -121.6666666667px hsl(320deg, 100%, 50%), 213px -129.6666666667px hsl(286deg, 100%, 50%), 182px -41.6666666667px hsl(61deg, 100%, 50%), 116px -339.6666666667px hsl(21deg, 100%, 50%), 170px -71.6666666667px hsl(92deg, 100%, 50%), 35px -308.6666666667px hsl(109deg, 100%, 50%), -167px -158.6666666667px hsl(3deg, 100%, 50%), -117px -334.6666666667px hsl(327deg, 100%, 50%), -239px -11.6666666667px hsl(239deg, 100%, 50%), 182px -236.6666666667px hsl(102deg, 100%, 50%), -41px -54.6666666667px hsl(277deg, 100%, 50%), 134px -366.6666666667px hsl(274deg, 100%, 50%), -81px 51.3333333333px hsl(329deg, 100%, 50%), 109px -409.6666666667px hsl(314deg, 100%, 50%), -75px -48.6666666667px hsl(66deg, 100%, 50%);
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}